.icons {
    margin-left: 625px;
    margin-top: 70px;
    float: right;
    margin-right: 200px;
  }
  
  li {
    float: left;
    margin-left: 10px;
    list-style: none;
  }
  
  fa-fw {
    text-align: left;
  }
  
  .fa {
    display: inline-block;
    font-size: 20px;
    border-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    padding: 10px 28px 10px 12px;
    color: white;
    transition-duration: 0.3s;
  }
  
  .fa-facebook {
    display: inline-block;
    font-size: 20px;
    border-sizing: border-box;
    border-style: solid;
    border-width: 2px;
    border-radius: 100%;
    padding: 10px 26px 10px 14px;
    color: white;
    transition-duration: 0.3s;
  }
  
  .fa-facebook:hover {
    color: #3b5998;
    border-color: #3b5998;
  }
  
  .fa-twitter:hover {
    color: #1da1f2;
    border-color: #1da1f2;
  }
  
  .fa-github:hover {
    color: black;
    border-color: black;
  }
  
  .fa-instagram:hover {
    color: #804000;
    border-color: #804000;
  }
  
  #thumbnailImage {
    
  }